
@{
    ViewBag.Title = "Roles";
}
<div class="row">
    <div class="col-11">
        <div class="form-outline">
            <input type="text" id="txtFilter" class="form-control form-control-sm" placeholder="Buscar por nombre,id, etc.." />
            <label class="form-label" for="typeText">Busqueda</label>
        </div>
    </div>
    <div class="col-1">
        <button class="btn btn-sm btn-block btn-success mb-3" id="btnAdd"><span class="fa fa-plus"></span> Nuevo</button>
    </div>
</div>
<table class="table table-striped table-sm table-hover align-middle mb-5 bg-white w-100" id="tblRoles">
    <thead class="bg-light">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Sync</th>
            <th>Activo</th>
            <th>Fecha</th>
            <th> </th>
        </tr>
    </thead>
    <tbody class="text-center">
    </tbody>
</table>

<!-- Modal modulos -->
<div class="modal fade" id="modalModulos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title text-muted  text-center" id="exampleModalLabel">Permisos</h4>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="row"> 
                        <div class="col-5">
                            <label class="control-label">Rol</label>
                            <input type="text" id="txtRol" class="form-control form-control-sm" readonly />
                        </div>
                        <div class="col-5">
                            <label class="control-label">Asignar rol a</label>
                            <select class="form-control" id="sUsuarios">
                            </select>
                        </div>
                        <div class="col-2">
                            <button class="btn btn-sm btn-success" id="btnAsignar"><i class="fa fa-plus"></i> Asignar</button>

                        </div> 
                
                </div>

                <table class="table w-100" id="tblModulos">
                    <thead>
                        <tr>
                            <th scope="col">Acceso</th>
                            <th scope="col">Modulo</th>
                            <th scope="col">Lectura</th>
                            <th scope="col">Escritura</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary btnSaveRol">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal listado usuarios -->
<div class="modal fade" id="modalAdd" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-m">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title text-muted  text-center" id="exampleModalLabel">Nuevo rol</h4>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <!-- 2 column grid layout with text inputs for the first and last names -->
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <input type="text" id="txtNombreRol" class="form-control" required />
                                <label class="form-label" for="txtNombreRol">Nombre</label>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary btnSaveRol">Guardar</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/Scripts/Roles/rolesFunctions.js"></script>  }